.habitsWrapper {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.habitsTopContainer {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.habitsDate, .habitsManageBtn {
  font-size: 1.5rem;
}

.habitsDate {
  text-align: end;
  font-weight: bold;
  
}

.habitsTrackedList {
  height: calc(100vh - 360px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: pink; */
  
}

.habitsCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
  
  margin-top: 30px;
  border-radius: 20px;

  font-size: 1.5rem;

  /* background-color: yellow; */
  box-shadow: 0px 0px 5px gray;
}


.habitsCardTitle {
  
}



.habitsCardTarget {
  
}


.habitsCardBtn {
  cursor: pointer;
}

.habitsBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  box-shadow: 0px 0px 5px; gray;;
  
}

.habitsMinusBtn, .habitsPlusBtn {
  padding: 8px 14px;
  cursor: pointer;
  
}

