.habitsWrapper {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.habitsTopContainer {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;

  border-radius: 15px;
  width: 80%;
  height: 60px;
  box-shadow: 0px 0px 5px gray;

  background: linear-gradient(125deg, var(--colOne), var(--colTwo));
  color: var(--light);
}

.habitsDate, .habitsManageBtn {
  font-size: 2.0rem;
  padding: 0px 10%;
}

.habitsManageBtn i {
  color: var(--light);
}

.habitsDate {
  text-align: end;
  font-weight: bold;
  
}

.habitsTrackedList {
  height: calc(100vh - 360px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* background-color: pink; */
  
}

.habitsCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100px;
  
  margin-top: 30px;
  border-radius: 20px;

  font-size: 1.5rem;

  /* background-color: yellow; */
  box-shadow: 0px 0px 5px gray;
}

.habitsCard:nth-child(1) {
  margin-top: 60px;
}


.habitsCardTitle {
  
}



.habitsCardTarget {
  
}


.habitsCardBtn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding-left: 11px;
  padding-top: 8px;
  border-radius: 20px;
  box-shadow: 0px 0px 5px gray;
}

.habitsBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  
}

.habitsMinusBtn, .habitsPlusBtn {
  padding: 8px 14px;
  cursor: pointer;
  font-size: 1rem;
  
}

.habitsCurrentBtn {
  padding: 2px 14px;
  width: 70px;
  font-size: 1.5rem;
  
}

