.habitsWrapper {
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.habitsTopContainer {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.habitsDate, .habitsManageBtn {
  font-size: 1.5rem;
}

.habitsDate {
  text-align: end;
  font-weight: bold;
  
}

.habitsTrackedList {
  height: calc(100vh - 360px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: pink;
}

.habitsCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 60px;
  margin-bottom: 20px;

  font-size: 1.5rem;

  background-color: yellow;
}


.habitsCardTitle {
  
}



.habitsCardTarget {
  
}


.habitsCardBtn {
  
}
